.only__myFans__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  height: 100%;
}

.only__myFans__container__left {
  width: auto;
  position: sticky;
  left: 5%;
  top: 2.5rem;
  margin: 0 2rem 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: space-around;
  /* border: 2px solid red; */
}
.only__myFans__container__middle {
  width: 48%;
  border-left: 0.1rem solid rgba(138, 150, 163, 0.25);
  border-right: 0.1rem solid rgba(138, 150, 163, 0.25);

  position: relative;
  max-width: 80rem;
}

.only__myFans__container__right {
  border: 0.1rem solid rgba(138, 150, 163, 0.25);
  position: sticky;
  right: 5%;
  top: 3rem;
  height: 5rem;
  width: auto;
  max-width: 36.8rem;
}

/* left side */

.avatarName {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f1f5f8;
  align-self: flex-start;
}
.avatarName > p {
  color: var(--primary-color);
  font-size: var(--font-size);
}

.icons__style {
  display: flex;
  align-items: center;
  margin: 1.8rem 0rem 0rem 0rem;
  opacity: 0.5;
  width: 21rem;
  justify-content: space-between;
  height: 4.8rem;
  border-radius: 1.3rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.icons__style:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  opacity: 1;
}
.icons__style > span {
  flex: 1;
  font-size: 1.9rem;
  font-weight: 500;
  margin-left: 2.1rem;
  /* border: 1px solid red; */
}

.btn__newPost__primary__color {
  display: flex;
  align-items: center;
  height: 4.8rem;
  width: 22rem;
  border-radius: 100rem;
  padding: 0.9rem 1.6rem;
  margin-top: 3rem;
  background-color: #ecbb35;
  color: white;
  cursor: pointer;

  font-weight: 500;

  min-width: 7.8rem;
  transition: opacity 0.15s ease, background-color 0.15s ease,
    box-shadow 0.15s ease;

  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
}

.btn__newPost__primary__color:hover {
  background-color: var(--primary-color);
}

.btn__newPost__primary__color > span {
  flex: 1;
  font-size: var(--font-size);
  text-align: center;
  font-size: 1.4rem;
}

/* middle part  */
