@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

:root {
  --footer-background: #212a2f;
  --primary-color: #f6b400;
  --font-size: 1.9rem;
  --secondary-color: #f4f6f8;
  --text-color: #1c1d20;
  font-family: "Source Sans Pro", sans-serif;
}

.footer-container {
  display: flex;
  /* position: fixed; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  height: 20vh;
  background-color: var(--footer-background);
  padding: 2.2rem 0rem;
  align-items: center;
  justify-content: center;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
}

.footer-container > div > a {
  color: white;
  letter-spacing: 0.2rem;
  padding: 1rem;
  font-size: 1.2rem;
}
